body{
    background-color: #170e35;
    
}

.header-div{
    
    
    justify-content: space-evenly;
    text-align: center;
    
    margin: 30px 0px 30px 0px;

    
}

.header-div h2{
    font-weight: 600;
    font-size: 32px !important;
    font-style: normal;
    color: white;
}



.headers-arrow{ 

    height: 100%;
    width: 100%;

    
    

}

.headers-arrow__icon{
    display: flex;
    margin-left: 10%;
    justify-content: flex-start;
    cursor: pointer;
    

}

.headers-tittle {
    width: 100%;
    height: 100%;
    display: inline;
    justify-content: center;
    align-items: center;

}


.headers-tittle__elements{
    width: 100%;
    height: 100%;
    padding: 10px;
    justify-content: space-around;
    display: flex;
    column-gap: 30%;
    align-items: flex-start;


}

.headers-tittle__elements__provider{
    flex: 0 0 auto; 
    text-align: start;
    color: #e7e7e7;
    
}


.headers-tittle__elements__price{
    flex: 0 0 auto; 
    text-align: end;
    color: #e7e7e7;
    


}






.--bs-body-font-size{
    
    font-size: 102px !important;
  
}

.headers-buttons-div{
    display: flex;
    justify-content: space-evenly;
    

}

.headers-buttons-div h2{
    margin: 0 0px 0px 24px;
    cursor: pointer;
}





.body-content-div{

  
    justify-content: center;
    display: grid;
    padding: 30px 0px 30px 0px;
    
    grid-gap: 24px; 

    text-align: end;

}




.body-content-items-div{

    min-width: 1560px;
    min-height: 521px;
    background-color: #453864;
    color: #F8EBFF;
    
    padding: 60px;
    border-radius: 20px;
    justify-content: center;
    
    align-items: center;

}

.table{
    color: #F8EBFF;
}


.btn-div{

    width: 100%;
    padding: 1%;
    margin-top: 5% ;
    text-align: center;

}

.btn-add{
    font-family: "Poppins", sans-serif !important;
    
    
    background-color: #170e35;
    color: #F8EBFF;
    padding: 10px 50px 10px 50px;
    border: 1px solid #888;
    font-size: 20px;

    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
    
}


.btn-create-order{
    font-family: "Poppins", sans-serif !important;
    margin-right: 12px;
    background-color: #F8EBFF;
    color: #453864;
    padding: 5px 30px 5px 30px;
    border: 1px solid #888;
    

    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
}




.body-content-items-orders{
    display: grid;
    justify-content: space-evenly;
    text-align: center;

    
}




.group-content h2{

    margin: 8px 0 16px 0;
    text-align: center;
}  


.items-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.items{
    background-color: #E6F4F1;
    width: 600px;
    height: 300px;
    margin: 0 50px;
    border-radius: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    cursor: pointer;
}

.items::-webkit-scrollbar{
    width: 12px;
    background-color: #27185b;
    border-radius: 0 20px 20px 0;
}


.items::-webkit-scrollbar-thumb{
    width: 1px;
    background-color: #53428d;
    border-radius: 20px;
}


.providers{
    display: flex;
    flex-direction: column;
    align-items: center; 
    border: solid #e7e7e7; 
    border-width: 0 0 1px 0;
    
    padding: 10px; 

    overflow: auto;
    
    min-width: 300px;
    height: 80px;
    background-color: #170e35;

}

.providers:hover{
    background-color: #53428d;

}
